-Dappdynamics.controller.hostName='{{ mconf_controller_hostName }}'
-Dappdynamics.controller.port='{{ mconf_controller_port }}'
-Dappdynamics.controller.ssl.enabled='true'
-Dappdynamics.force.default.ssl.certificate.validation='{{ mconf_force_default_ssl_certificate_validation }}'

-Dappdynamics.http.proxyHost='{{ mconf_http_proxyHost }}'
-Dappdynamics.http.proxyPort='{{ mconf_http_proxyPort }}'
-Dappdynamics.https.proxyHost='{{ mconf_https_proxyHost }}'
-Dappdynamics.https.proxyPort='{{ mconf_https_proxyPort }}'

-Dappdynamics.agent.accountName='{{ mconf_agent_accountName }}'
-Dappdynamics.agent.accountAccessKey='{{ mconf_agent_accountAccessKey }}'

-Dappdynamics.sim.enabled='true'

-Dappdynamics.agent.uniqueHostId='{{ mconf_agent_uniqueHostId }}'

-Dappdynamics.machine.agent.hierarchyPath='{{ mconf_machine_agent_hierarchyPath }}'
-Dappdynamics.machine.agent.dotnetCompatibilityMode='false'

-Dappdynamics.agent.runtime.dir='{{ mconf_agent_runtime_dir }}'

-Xmx64m

-Dappdynamics.agent.logs.dir='{{ mconf_agent_logs_dir }}'
-Dappdynamics.agent.conf.dir='{{ mconf_agent_conf_dir }}'
